<launch>
	<arg name="map_file" default="$(find auckbot_navigation)/maps/lab2.yaml"/>

	<!--- Run map_server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

	<!--- Run AMCL -->
	<include file="$(find auckbot_navigation)/launch/amcl_node.xml" />
	
	<!--- Run move base -->
	<include file="$(find auckbot_navigation)/launch/move_base.xml" />

	<!--- Run analysis -->
	<include file="$(find auckbot_analysis)/launch/nav_analysis.launch" />

</launch>
