<launch>
  <arg name="map_file" default="$(find auckbot_navigation)/maps/lab.yaml"/>

	<!--- Lidar driver -->
	<include file="$(find auckbot_navigation)/launch/hokuyo.launch" />
     
	<!--- Run map_server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

	<!--- Run AMCL -->
	<include file="$(find auckbot_navigation)/launch/amcl_node.xml" />
	
	<!--- Run move base -->
	<include file="$(find auckbot_navigation)/launch/move_base.xml" />

	<!--- Run analysis -->
	<include file="$(find auckbot_analysis)/launch/nav_analysis.launch" />

	<!--- Run optimizer -->
	<node name="path_optimizer" pkg="auckbot_navigation" type="path_optimizer">
		<param name="~min_radius" value="1.0" />
	</node>


</launch>
