<launch>
  <arg name="map_file" default="$(find auckbot_navigation)/maps/kitchenarea.yaml"/>

  <!-- TF FRAMES -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera_tf" 
    args="0.6 0.0 0.39 0.0 0.0 0.0 /base_link /kinect_link 100" />
   
  <!--- kinect -> laser -->
  <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" > 
    <remap from="image" to="/kinect/depth/image_raw"/>
    <remap from="camera_info" to="/kinect/depth/image_raw"/>
    <param name="output_frame_id" type="string" value="kinect_link"/>
  </node>
    
	<!--- Run gmapping -->
	<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
    <param name="scan" type="string" value="scan"/>
  </node>
 
</launch>
