<launch>
  <!-- FRONT -->
  <node name="hokuyo_fr" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
    <!-- Starts up faster, but timestamps will be inaccurate.
    <param name="calibrate_time" type="bool" value="false"/> --> 
    <param name="port" type="string" value="/dev/sensors/hokuyo_H0710281"/> 
    <param name="intensity" type="bool" value="false"/>
    <param name="max_ang" type="double" value="2.09"/>
    <param name="min_ang" type="double" value="-2.086213"/>
    <param name="frame_id" type="string" value="laser_fr"/>
    <remap from="scan" to="scan_fr"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_tf_ft" 
    args="0.43 0.41 0.39 0.7854 0.0 0.0 /base_link /laser_fr 50" />
  
  <!-- BACK -->
  <node name="hokuyo_bk" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
    <!-- Starts up faster, but timestamps will be inaccurate. 
    <param name="calibrate_time" type="bool" value="false"/> --> 
    <param name="port" type="string" value="/dev/sensors/hokuyo_H0710280"/> 
    <param name="intensity" type="bool" value="false"/>
    <param name="max_ang" type="double" value="2.09"/>
    <param name="min_ang" type="double" value="-2.086213"/>
    <param name="frame_id" type="string" value="laser_bk"/>
    <remap from="scan" to="scan_bk"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_tf_bk" 
    args="-0.7 -0.41 0.39 3.927 0.0 0.0 /base_link /laser_bk 50" />

  <node pkg="cob_scan_unifier" type="scan_unifier_node" name="scan_unifier" output="screen">
    <rosparam param="input_scans">
      ["scan_fr", "scan_bk"]
    </rosparam>
    <param name="loop_rate" value="100.0"/>
    <remap from="scan_unified" to="scan"/>
  </node>

</launch>
